body{
  min-width: 1340px;
  max-width: 1340px;
  overflow: scroll;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*position: fixed;*/
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  color: MediumAquamarine;
  margin-left: 10px;
}
.navagation {
    display: inline-block;
    margin-left: 900px;
}
span {
  margin-right: 20px;
}
div {
  border: solid 1px
}
.container {
  display: flex;
}
.cone {
  display: flex;
  width: 680px;
  flex-direction: column;
}
tag {
  font-size: 30px;
  font-weight: bold;
}
.cotwo {
  display: flex;
  width: 350px;
  flex-direction: column;
}
.cothree {
  display: flex;
  width: 310px;
  flex-direction: column;
}
#nb {
  font-size: 20px;
}
